<!DOCTYPE html>
<html>

<head>
    <title>Film Scene</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <div>

                {{{body}}}

            </div>
        </div>


        <footer class="footer">

            <p>&copy;2019 Geoff George</p>

        </footer>

    </div>
</body>

</html>