<header>
    <nav>
        <h1>Film Scene</h1>
        <a href="/auth/login">Login</a>
    </nav>
</header>

<div>
    <div>
        <p>Welcome to Film Scene!</p>
    </div>
</div>


<footer class="footer">

    <p>&copy;2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>