<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>

<div>
    <div>

        <h2 class="page-header">FILM SCENE</h2>
        <p>Welcome to Film Scene!</p>

    </div>
</div>


<footer class="footer">

    <p>&copy;2019 Geoff George</p>

</footer>