<header>
	<nav>
		<img src="/imgs/logo.png" alt="Logo for Film Scene">
		<a href="/">Home</a>
	</nav>
</header>

<main id='login-main'>
	<div id='link-btn-div'>
		<a href="/auth/google" class="sign-in-link"><i class="fab fa-google"></i> Sign in with Google</a>
	</div>
</main>


<footer class="footer">

	<p><i class="far fa-copyright"></i> 2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/9e7db05fef.js"></script>
<script src="/js/login.js"></script>