<header>
	<nav>
		<img src="/imgs/logo.png" alt="Logo for Film Scene">
		<a href="/">Home</a>
	</nav>
</header>

<main id='login-main'>
	<div id='link-btn-div'>
		<a href="/auth/google" class="sign-in-link" id='google-link'><i class="fab fa-google"></i> Sign in with
			Google</a>
		<a href="/auth/facebook" class="sign-in-link" id='facebook-link'><i class="fab fa-facebook"></i> Sign in with
			Facebook</a>
		<a href="/auth/twitter" class="sign-in-link" id='twitter-link'><i class="fab fa-twitter"></i> Sign in with
			Twitter</a>
	</div>
</main>


<footer class="footer">

	<p><i class="far fa-copyright"></i> 2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/9e7db05fef.js"></script>