<header>
	<nav>
		<img src="/imgs/logo.png" alt="Logo for Film Scene">
		<a href="/">Home</a>
	</nav>
</header>

<main>

		<h2 class="page-header">Login</h2>
		<form method="" action="">
			<h4>Login via ...</h4>
			<a href="/auth/google">Google</a>
		</form>
</main>


<footer class="footer">

	<p>&copy;2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>