<header>
    <nav>
        <h1>Film Scene</h1>
		<a href="/auth/logout">Logout</a>
    </nav>
</header>

<div>
    <div>

        <h2 class="page-header">FILM SCENE</h2>
        <h2 class="page-header">Welcome to Film Scene, {{username}}!</h2>

    </div>
</div>


<footer class="footer">

    <p>&copy;2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="signedin.js"></script>