<header>
    <nav>
        <img src="/imgs/logo.png" alt="Logo for Film Scene">
        <a href="/auth/logout">Logout</a>
    </nav>
</header>

<main data-username="{{username}}">
</main>


<footer class="footer">

    <p><i class="far fa-copyright"></i> 2019 Geoff George</p>

</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/9e7db05fef.js"></script>
<script src="/js/signedin.js"></script>