* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 320px) {
	/* Body Styling */
	.container {
		display: grid;
		grid-template: min-content 1fr 3rem / 1fr;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100vh;
	}

	/* Nav Styling */

	header {
		display: grid;
		justify-items: center;
		align-items: center;
		width: 100%;
		background-color: #b8860b;
	}

	nav {
		display: grid;
		grid-template: 5rem / 2fr 1fr;
		align-items: center;
		background-color: #b8860b;
		width: 95%;
	}

	nav img {
		width: 13rem;
		justify-self: flex-start;
	}

	nav a {
		font-family: "News Cycle", sans-serif;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		justify-self: flex-end;
	}

	nav a:hover {
		text-shadow: 0.1rem 0.1rem 0.1rem #505050;
	}

	/* Main Section Styling */

	main {
		display: grid;
		grid-template: min-content / 1fr;
		grid-gap: 1rem;
		justify-items: center;
		align-items: flex-start;
		width: 95%;
		margin: 1rem 0;
	}

	/* Article Styling */

	.article {
		font-family: "News Cycle", sans-serif;
		display: grid;
		grid-template: min-content / 1fr;
		grid-gap: 1rem;
		background: #000000;
		padding: 1rem;
		width: 100%;
	}

	.article h3,
	.article h6 {
		font-weight: normal;
		color: aliceblue;
	}

	.article img {
		width: 100%;
	}

	.comment-btn {
		padding: .5rem;
		color: white;
		background: linear-gradient(#c0c0c0, #808080, #c0c0c0)
	}

	.comment-btn:hover {
		background: linear-gradient(#808080, #c0c0c0, #808080)
	}

	.comments-div {
		display: grid;
		grid-template: min-content / 1fr;
		grid-gap: 0.5rem;
		padding: 0.5rem;
		width: 100%;
		background: #ffffff;
	}

	.comments-div span {
		justify-self: center;
	}

	.comments-div span:hover {
		cursor: pointer;
		text-shadow: 0.1rem 0.1rem 0.1rem #505050;
	}

	.comment {
		display: grid;
		border-bottom: 0.1rem solid #000000;
		padding-bottom: 0.5rem;
	}

	.delete-btn {
		justify-self: center;
		padding: .5rem;
		color: white;
		background: #c20000;
	}

	/* Login Page Styling */

	#link-btn-div {
		display: grid;
		grid-template: min-content / 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	.sign-in-link {
		font-family: "News Cycle", sans-serif;
		color: white;
		text-decoration: none;
		padding: 1rem;
		font-size: 1.2rem;
	}

	.sign-in-link:hover {
		box-shadow: 0.2rem 0.2rem 0.2rem #505050;
	}

	#google-link {
		background-color: #e04736;
	}

	#google-link:active {
		background-color: #a13327;
	}

	#facebook-link {
		background-color: #4267b2;
	}

	#facebook-link:active {
		background-color: #2b4272;
	}

	#twitter-link {
		background-color: #1ca1f2;
	}

	#twitter-link:active {
		background-color: #1877b3;
	}

	/* Footer Styling */

	.footer {
		display: grid;
		justify-items: center;
		align-items: center;
		background: gray;
		color: #ffffff;
		width: 100%;
		height: 3rem;
		font-family: "News Cycle", sans-serif;
		font-size: 0.8rem;
	}
}

@media only screen and (min-width: 640px) {
	nav img {
		width: 20rem;
	}

	main {
		grid-template: min-content / 1fr 1fr;
	}

	#link-btn-div {
		grid-column: 1 / 3;
	}
}

@media only screen and (min-width: 960px) {
	main {
		grid-template: min-content / 1fr 1fr 1fr;
	}

	#link-btn-div {
		grid-column: 1 / 4;
	}
}
